body{
    background-color: #6efc6e;
}
#myname{
    color: seagreen;
}
h1 {
    color: red !important;
    background-color: chartreuse;
}



img{
    width: 500px;
}


i{
    font-size: 100px;
}


#login-btn{
    background-color: rgba(125,125,0,1);
    width: 200px;
    height: 90px;
    color: white;
    font-size: 30px;
    border-radius: 20px;
    transition-duration: 0.4s ;
}
#login-btn:hover{
    background-color: red;
    /* font-size: 50px; */
    transform: rotate(30deg);

  
}

input:focus{
    background-color: rgb(208, 248, 208);
}


#signup-btn{
    background-color: rgb(131, 202, 131);
    width: 200px;
    height: 90px;
    color: white;
    font-size: 30px;
    border-radius: 20px;
}


.sl-no{
    font-weight: bold;
    color: white;
}

.about-text{
    width: 400px;
    height: 100px;
    overflow-y: hidden;
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;


    /* margin-left: 50px;
    margin-top: 250px;
    margin-left: 50px; */

    margin: 50px 20px 80px 100px;

    padding: 50px;
}


@media only screen and (max-width:400px){
    h1{
        text-align: center;
    }

    img{
        width: 100px;
    }

    .about-text{
        width: 100px;
        margin: 10px;
    }

}